@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
    margin: 0px;
    background: url("/assets/sky.jpg") no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: absolute;
    top: 30px;
    left: 20px;
    margin: 0px;
}
nav{
    position: absolute;
    top: 30px;
    right: 50px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
nav a{
    color: white;
    text-decoration: none;
}
p{
    font-size: 40px;
    font-weight: 700;
}

